@import sass/variables

main
    width: 70%
    height: auto
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

section
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    padding: $section-spacing
    // border: 1px solid $color-3

article
    width: 28rem
    height: auto
    display: flex
    flex-direction: column
    justify-content: center

h1
    margin: 0
    font-size: $header
    font-weight: normal
    font-family: "Lexend-Bold"

p
    color: $color-8
    font-size: $text
    line-height: $line-height
    font-family: "Lexend-Medium"

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    section
        padding: $section-spacing-mobile