@import sass/variables

main
    width: 70%
    height: auto
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

section
    width: 100%
    height: auto
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    padding: $section-spacing

h1
    margin: 0
    font-size: $header
    font-weight: normal
    font-family: "Lexend-Bold"

p
    color: $color-8
    font-size: $text
    line-height: $line-height
    font-family: "Inter-Medium"

button:not(#toggleButton)
    color: $color-3
    cursor: pointer
    transition: .25s
    border-radius: $b-pill
    background-color: $color-15
    border: .125rem solid $color-14

    &:hover 
        border-radius: $b-pill-hover

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    section
        padding: $section-spacing-mobile