// Color Palette
$color-0: #000
$color-1: #111
$color-2: #222
$color-3: #333
$color-4: #444
$color-5: #555
$color-6: #666
$color-7: #777
$color-8: #888
$color-9: #999
$color-10: #aaa
$color-11: #bbb
$color-12: #ccc
$color-13: #ddd
$color-14: #eee
$color-15: #fff

// Border Radius
$b-05: .5rem
$b-1: 1rem
$b-2: 2rem

$b-pill: 50px
$b-pill-hover: 1rem 50px 50px

// Margin
$m-05: .5rem
$m-1: 1rem
$m-10: 10rem
$m-15: 15rem

$mx-05: 0 .5rem
$mx-1: 0 1rem
$mx-10: 0 10rem
$mx-15: 0 15rem

$my-05: .5rem 0
$my-1: 1rem 0
$my-10: 10rem 0
$my-15: 15rem 0

// Padding
$p-05: .5rem
$p-1: 1rem
$p-10: 10rem
$p-15: 15rem

$px-05: 0 .5rem
$px-1: 0 1rem
$px-10: 0 10rem
$px-15: 0 15rem

$py-05: .5rem 0
$py-1: 1rem 0
$py-10: 10rem 0
$py-15: 15rem 0

// Font Settings
$line-height: 1.75rem

$header: 2rem
$subheader: 1.5rem
$text: 1rem

// Spacing
$section-spacing: 6rem 0
$section-spacing-mobile: 2.5rem 0

// @media
$phone: 809px