@import sass/fonts
@import sass/template

html, body
    margin: 0
    padding: 0
    height: 100%
    hyphens: auto
    transition: 1s
    color: $color-3
    cursor: default
    position: relative
    overflow-x: hidden
    box-sizing: border-box
    scroll-behavior: smooth

    &::before
        inset: 0
        z-index: -1
        content: ""
        opacity: 0.20
        position: absolute
        background-image: url("/assets/images/background.webp")

::selection
    color: $color-15
    background-color: $color-3

.body-wrap
    display: flex
    overflow: hidden
    min-height: 100dvh
    flex-direction: column