@import sass/components/header
@import sass/components/footer

@import sass/pages/1_home

@import sass/pages/2_1_about
@import sass/pages/2_2_me
@import sass/pages/2_3_education

@import sass/pages/3_1_success
@import sass/pages/3_2_gamesTalente

@import sass/pages/4_error

@import sass/variables
@import sass/tags

@font-face
    font-display: swap
    font-family: "Inter-Black"
    src: url(/fonts/Inter-Black.ttf) format("truetype")

@font-face
    font-display: swap
    font-family: "Inter-Bold"
    src: url(/fonts/Inter-Bold.ttf) format("truetype")

@font-face
    font-display: swap
    font-family: "Inter-Medium"
    src: url(/fonts/Inter-Medium.ttf) format("truetype")

html, body
    margin: 0
    padding: 0
    color: $black
    transition: 1s
    cursor: default
    overflow-x: hidden
    box-sizing: border-box
    scroll-behavior: smooth
    background-color: $background

::selection
    color: $primary
    background-color: $black

.body-wrap
    display: flex
    overflow: hidden
    min-height: 100dvh
    flex-direction: column

.about-img, .success-img
    width: 25rem
    height: 15rem
    border-radius: .625rem

.about-img
    background: bottom / 50% no-repeat url("/images/Memoji_JulianPlatz.webp")

.success-img
    background: center / 100% no-repeat url("/images/successes.webp")