@import sass/variables

nav, #burgerOne, #burgerTwo, #navLinks
    transition: .5s
    
header
    z-index: 10
    width: 100%
    height: 80px
    display: flex
    user-select: none
    align-items: center
    background-color: $primary
    justify-content: space-between

    a
        color: $black
        cursor: default
        font-size: $text
        margin-left: 2.5rem
        text-decoration: none
        font-family: "Inter-Bold"

    button
        row-gap: 5px
        border: none
        color: $black
        display: flex
        height: 1.75rem
        cursor: pointer
        margin-right: 2.5rem
        flex-direction: column
        justify-content: center
        background-color: transparent

        div
            width: 15px
            height: 2px
            border-radius: 8px
            background-color: $black
        
nav
    height: 0%
    z-index: 1
    width: 100%
    opacity: .9
    position: absolute
    pointer-events: none
    background-color: $primary

    div
        opacity: 0
        width: 10rem
        display: flex
        inset: 50% 50%
        height: 12.5rem
        list-style: none
        position: absolute
        flex-direction: column
        justify-content: space-between
        transform: translate(-50%, -50%)

        a
            color: $black
            transition: .25s
            position: relative
            letter-spacing: 1px
            font-size: $subheader
            text-decoration: none
            font-family: "Inter-Bold"

            &:after
                left: 0
                content: ""
                width: 100%
                bottom: -10px
                height: .25rem
                position: absolute
                bsckground-color: $black

            &:hover
                transform: translateX(10px)

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    nav div
        inset: 50% 50%
        margin-left: 1.75rem
        transform: translateY(-50%, -50%)