@import sass/other/variables

main
    display: flex
    flex: 1 0 auto
    margin-top: $m-05
    align-items: center
    flex-direction: column
    justify-content: center
    background-color: $primary

    h1
        font-weight: normal
        font-family: "Inter-Black"
        font-size: clamp(30px, 10vw , 75px)

    h2
        color: $gray
        margin-top: -25px
        font-weight: normal
        font-family: "Inter-Medium"
        font-size: clamp(20px, 5vw , 30px)

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .sec-home h2
        margin-top: 0