@import sass/variables
    
.education-section
    div
        gap: 2rem
        height: auto
        display: flex
        max-width: 80%
        flex-direction: column

        .education-box
            display: flex
            height: 6.25rem
            align-items: center
            flex-direction: row

            img
                width: 3.125rem
                height: 50px
                border-radius: 50%
                border: .1875rem solid $background

            article
                gap: .5rem
                width: 29.6875rem
                display: flex
                flex-direction: column

                h1
                    font-size: 1.25rem

                p
                    margin: 0


            span
                width: 9.375rem
                color: $gray
                font-size: $text
                line-height: $line-height
                font-family: "Inter-Medium"

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .education-section div .education-box
                img
                    width: 2.5rem
                    height: 2.5rem

                article
                    gap: .5rem
                    width: 29.6875rem
                    display: flex
                    flex-direction: column

                    h1
                        font-size: 14px

                    p
                        font-size: 10px

                span
                    font-size: 10px