@import sass/variables
    
body.about
    .about-section
        .about-box
            display: flex
            max-width: 66%
            margin: auto auto
            flex-direction: row
            margin-top: 3.125rem

            .about-img
                width: 15rem
                height: auto
                display: flex
                user-select: none
                align-self: center
                align-items: center
                justify-content: center

            .aboutContent-box
                display: flex
                flex-direction: column
                justify-content: center

                div 
                    width: 100%

                    h1
                        font-size: $header
                        font-weight: normal

                    h2 
                        font-size: 1.25rem
                        font-weight: normal
                        font-family: "Lexend-Bold"

                    p
                        margin-bottom: 3rem

                .skillGrid-box
                    max-width: 100%

                    h3
                        font-size: $text
                        font-weight: normal
                        font-family: "Lexend-Bold"

                    .skillGrid
                        gap: 1.5rem
                        display: flex
                        flex-wrap: wrap
                        max-width: 100%
                        flex-direction: row

                        i
                            width: 3rem
                            opacity: .9
                            height: auto
                            transition: .25s
                            user-select: none

                            &:hover
                                transform: translateY(-5px)

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .about-section
        .about-box
            max-width: 100% !important
            margin: auto auto
            flex-direction: column !important
            margin-top: 3.125rem

            .aboutContent-box
                div
                    margin-top: 2rem

                    p
                        margin-bottom: 0rem !important