@import sass/variables
    
.education-section
    div
        gap: 2rem
        height: auto
        display: flex
        max-width: 80%
        flex-direction: column

        .education-box
            margin: auto
            display: flex
            height: 6.25rem
            align-items: center
            flex-direction: row

            img
                height: 50px
                width: 3.125rem
                user-select: none
                border-radius: 50%
                pointer-events: none
                border: .1875rem solid $background

            article
                gap: .5rem
                display: flex
                width: 29.6875rem
                flex-direction: column

                h1
                    font-size: 1.25rem

                p
                    margin: 0

                    strong
                        font-weight: normal
                        font-family: "Inter-Bold"


            span
                color: $gray
                width: 9.375rem
                font-size: $text
                line-height: $line-height
                font-family: "Inter-Medium"

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .education-section 
        
        div 
            gap: .5rem
            
            .education-box
                max-width: 100%

                img
                    width: 2.5rem
                    height: 2.5rem

                article
                    gap: .5rem
                    display: flex
                    width: 29.6875rem
                    flex-direction: column

                    h1
                        font-size: 14px

                    p
                        font-size: 10px

                span
                    font-size: 10px