@import sass/variables
    
body.about
    .education-section
        gap: 2rem
        display: flex
        align-items: center

        .card-box
            gap: 2rem
            display: flex
            flex-wrap: wrap
            max-width: 100%
            flex-direction: row


// /* Phone Portrait */
// @media only screen and (max-device-width: $phone) and (orientation: portrait)
//     .education-section 
