@import sass/variables
    
body.work
    .work-section 
        .work-div
            height: auto
            display: flex
            flex-direction: row
            column-gap: 9.375rem

            img
                width: 40%
                height: auto
                border-radius: $b-05

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .work-section 
        padding: $py-10
        
        .work-div
            width: 100%
            row-gap: $m-1
            flex-direction: column

            .work-img
                width: 100%