@import sass/variables
    
body.work
    .projectArticle-section
        .projectArticle-box 
            span:nth-child(2)
                margin: -15px 0 0
                font-size: 1rem
                color: $color-8
                font-weight: normal
                font-family: "Lexend-Medium"

            video
                width: 100%
                border-radius: $b-1
                box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15)

/* Phone Portrait */
@media only screen and (max-device-width: $phone) and (orientation: portrait)
    