@import sass/variables
    
.eightBit-section
    div
        height: auto
        display: flex
        max-width: 80%
        column-gap: 9.375rem
        flex-direction: column

        article
            width: 100%
            height: auto
            display: flex
            max-width: 62.5rem
            flex-direction: column
            justify-content: center

        .project-box
            gap: 2rem
            width: 100%
            display: flex
            max-width: 62.5rem
            flex-direction: column

            span
                margin: 5px 0 0
                font-size: 4rem
                color: rgb(225, 225, 225)
                font-weight: normal
                font-family: "Inter-Bold"
            
            a
                color: $black
                font-size: 1rem
                margin: -15px 0 0
                font-weight: normal
                font-family: "Inter-Medium"

            iframe
                border-radius: $b-1
                border: .125rem solid $secondary

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    iframe
        height: 600px