@import sass/variables
    
.tst-section
    div
        height: auto
        display: flex
        max-width: 80%
        column-gap: 9.375rem
        flex-direction: column

        article
            width: 100%
            height: auto
            display: flex
            max-width: 62.5rem
            flex-direction: column
            justify-content: center

        .project-box
            gap: 2rem
            width: 100%
            display: flex
            max-width: 62.5rem
            flex-direction: column

            span:nth-child(1)
                margin: 5px 0 0
                font-size: 4rem
                color: $secondary
                font-weight: normal
                font-family: "Inter-Bold"
            
            span:nth-child(2)
                margin: -15px 0 0
                font-size: 1rem
                color: $black
                font-weight: normal
                font-family: "Inter-Medium"

            .tst-img
                width: 40rem
                height: 40rem
                margin: -40px auto
                background: center / 200% no-repeat url("/images/Shots_Mockup.png")

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
        