@import sass/variables

.error-div
    display: flex
    flex-direction: column
    align-items: center
    margin: auto

    h1 
        font-size: 4rem

    p
        font-size: 1rem
        margin: 0

    a button
        color: $black
        width: 10.9375rem
        padding: .9375rem 0
        cursor: pointer
        transition: .25s
        font-size: $text
        border-radius: 3.125rem
        border: .125rem solid $secondary
        background-color: $background
        margin-top: 2rem

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)