@import sass/variables

.error-div
    display: flex
    flex-direction: column
    align-items: center
    margin: auto

    h1 
        font-size: 4rem
        font-weight: normal
        font-family: "Inter-Black"

    p
        margin: 0
        font-size: 1rem

    a button
        color: $black
        cursor: pointer
        transition: .25s
        font-size: $text
        margin-top: 2rem
        width: 10.9375rem
        padding: .9375rem 0
        border-radius: 3.125rem
        font-family: "Inter-Medium"
        background-color: $background
        border: .125rem solid $secondary

        &:hover 
            border-radius: 1rem 50px 50px

/* Phone Portrait */
@media only screen and (max-device-width: 809px) and (orientation: portrait)
    .error-div a button:hover
        border-radius: 50px